USE [QLBH]
GO
/****** Object:  Table [dbo].[CTDONDH]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDH](
	[SoDH] [int] NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLDat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHAP]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHAP](
	[SoPN] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[Slnhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPXUAT]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXUAT](
	[SoPX] [char](4) NOT NULL,
	[MaVTu] [char](4) NOT NULL,
	[SLXuat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPX] ASC,
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[SoDH] [int] NOT NULL,
	[NgayDH] [datetime] NULL,
	[Manhacc] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[Manhacc] [char](4) NOT NULL,
	[Tennhacc] [nvarchar](30) NULL,
	[Diachi] [nvarchar](30) NULL,
	[DienThoai] [char](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Manhacc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHAP]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHAP](
	[SoPN] [char](4) NOT NULL,
	[SoDH] [int] NULL,
	[Ngaynhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PXUAT]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXUAT](
	[SoPX] [char](4) NOT NULL,
	[Ngayxuat] [datetime] NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONKHO]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[NAMTHANG] [char](7) NULL,
	[MaVTu] [char](4) NULL,
	[TONGNHAP] [int] NULL,
	[TONGXUAT] [int] NULL,
	[SLTonKho] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 10/1/2020 2:55:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MaVTu] [char](4) NOT NULL,
	[TenVTu] [nvarchar](30) NULL,
	[DVTinh] [nvarchar](10) NULL,
	[Dongia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTDONDH]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[DONDH] ([SoDH])
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD FOREIGN KEY([MaVTu])
REFERENCES [dbo].[VATTU] ([MaVTu])
GO
ALTER TABLE [dbo].[CTPNHAP]  WITH CHECK ADD FOREIGN KEY([SoPN])
REFERENCES [dbo].[PNHAP] ([SoPN])
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD FOREIGN KEY([Manhacc])
REFERENCES [dbo].[NHACC] ([Manhacc])
GO
